@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

.container {
  width: 1440px;
  margin: auto;
}

body {
  font-family: "Raleway", sans-serif;
}

a, a:hover {
  text-decoration: none;
}

#header {
  background: #10B582;
}
#header .navbar {
  padding-top: 20px;
  grid-gap: 1em;
  display: grid;
  grid-auto-flow: column;
}
#header .navbar__item {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #FDFDFD;
  position: relative;
  cursor: pointer;
}
#header .navbar__item:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  /* Высота линии */
  background-color: black;
  /* Цвет подчеркивания при исчезании линии*/
  transition: width 0.5s;
  /* Время эффекта */
}
#header .navbar__item:hover:after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 2px;
  /* Высота линии */
  background-color: red;
  /* Цвет подчеркивания при появлении линии*/
  transition: width 0.5s;
  /* Время эффекта */
}

#hero {
  background: url("../img/pic.png");
  min-height: 100vh;
}
#hero .hero__title {
  padding-top: 300px;
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 120%;
  text-align: center;
  color: #FDFDFD;
}
#hero .hero__img1 {
  position: absolute;
  width: 155px;
  height: 215px;
  padding-bottom: 200px;
}

#atf {
  padding: 100px 0 100px 0;
}
#atf .atf__title {
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 100%;
  text-align: center;
}
#atf .atf__img {
  padding-left: 23%;
  padding-top: 3%;
}
#atf .atf__btn {
  margin-left: 45%;
  margin-top: 30px;
}

#atek {
  padding: 100px 0 100px 0;
}
#atek .atek__title {
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 100%;
  text-align: center;
}
#atek .atek__img {
  padding-left: 23%;
  padding-top: 3%;
}
#atek .atek__btn {
  margin-left: 45%;
  margin-top: 30px;
}

#ped {
  padding: 100px 0 100px 0;
}
#ped .ped__title {
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 100%;
  text-align: center;
}
#ped .ped__img {
  padding-left: 23%;
  padding-top: 3%;
}
#ped .ped__btn {
  margin-left: 45%;
  margin-top: 30px;
}

#fil {
  padding: 100px 0 100px 0;
}
#fil .fil__title {
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 100%;
  text-align: center;
}
#fil .fil__img {
  padding-left: 23%;
  padding-top: 3%;
}
#fil .fil__btn {
  margin-left: 45%;
  margin-top: 30px;
}

#ekf {
  padding: 100px 0 100px 0;
}
#ekf .ekf__title {
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 100%;
  text-align: center;
}
#ekf .ekf__img {
  padding-left: 23%;
  padding-top: 3%;
}
#ekf .ekf__btn {
  margin-left: 45%;
  margin-top: 30px;
}

.line {
  opacity: 0.1;
  border: 1px solid #353A5A;
  margin: 50px 0 50px 0;
}

#footer {
  padding: 30px 0 30px 0;
}
#footer .footer__logo {
  color: #353A5A;
}
#footer .footer__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  width: 300px;
}
#footer .footer__icon {
  color: #353A5A;
}

/*# sourceMappingURL=style.css.map */
